@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Source+Code+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sideBar {
    background-color: rgb(136, 135, 138);
    /* width: 200px; */
    height:100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in;
}
.sideBarGo{
    transform: translate(-443px,0px);
    position:absolute;
}

.sideBar nav {
    padding: 11px;
    
}

.sideBar nav li {
    list-style: none;
    font-size: 15px;
    padding: 20px;
}
.sideBar nav li a{
    text-decoration: none;
}

.main {
   /* background-color: yellow; */
    width: 92vw;
}
.infoContainer{
     /* background-color: crimson; */
    height:58vh;
    width:80vw;
    margin: 120px auto;
    display:flex;
    justify-content: space-around;
}
.devPic{
    width:300px
}
.devInfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.Hello{
    font-size: 40px;
}

.name{
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about{
    font-size: 40px;
}
.buttons{
    margin-top: 20px;
}
.buttons button{
    padding:9px 14px;
    border-radius: 22px;
    background-color: aqua;
    margin:0 3 px;
    font-weight: bold;
    cursor: pointer;
}
.buttons button:hover{
    color: white;
    background-color:rebeccapurple;
}
.intro h2{
    font-family: 'Source Code Pro', monospace;
    margin: 30px;
}
.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}
.skill{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    margin:40px;
    list-style: none;
}
.hambug{
    position:absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
/* .ham{
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 10px;
} */
.cross{
    margin-left: 110px;
}
.project{
    margin-left:40px;
    margin-top: 10px;
    background-color:azure;
}
.contact{
    /* display:flex; */
    list-style: none;
    margin-left:40px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    color:blueviolet;
}
.contactcontainer{
    background-color:beige;
}